p{
    color: red;
    font-style:arial;
}

h2{
    color: green;
    size: 20px;
    image-resolution: 2200px;
    background-color: DodgerBlue;
    mask-size: 5cm;
}


#Marcelo{
    color: rgb(74, 33, 112);

}

#Marcelo1{

    color: brown;
}